/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,567;0,600;0,700;0,719;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Preload */

/* General*/

.nodecoration {
    text-decoration: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.padding20 {
    padding: 20px 20px;
}

.urbanist {
  font-family: 'Urbanist', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.white {
  background-color: white;
}

.cursornone {
  cursor: none;
}

/*Custom Scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    transition-duration: 0.5s;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    transition-duration: 0.5s;
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112); 
    transition-duration: 0.5s;
    border-radius: 8px;
    padding: 20px;
    width: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 204, 204);
    transition-duration: 0.5s;
    cursor: pointer;
  }

/*Page Layout*/
html {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*Nav*/

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: -80px; /* Hide the navbar 50 px outside of the top view */
    width: 40px; /* Full width */
    height: 40px;
    transition: top 1s; /* Transition effect when sliding down (and up) */
    z-index: 999;
    padding: 10px;
    border-radius: 100px;
    margin: 20px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  -webkit-filter: invert(50%);
  filter: invert(50%);
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 8px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

  /* Button Style */

  button {
    border: 0px solid transparent;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    transition: all 0.2s;
  }

  button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

