#herobackground {
    background: url(Images/homebg3.jpg);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
    text-align: left;
    transition-duration: 0.5s;
    border-radius: 20px;
    color: white;
    padding-left: 5%;
}

.heroheading {
    font-size: 800%;
    height: 100vh;
    color: white;
    transition-duration: 0.1s;
}

.heroheading1 {
    font-size: 800%;
    height: 100vh;
    color: white;
    transition-duration: 0.1s;
    transform: translate(0px, -760px);
}

.heroheading2 {
    font-size: 800%;
    height: 100vh;
    color: white;
    transition-duration: 0.1s;
    transform: translate(0px, -750px);
    display: none;
    height: 100px;
}

@media only screen and (max-width: 1324px) {
    .heroheading1 {
      font-size: 80px;
    }
    .heroheading {
        font-size: 80px;
      }
}

.herobutton {
    position: absolute;
    transform: translate(0%, 650%);
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 100px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1000;
    color: white;
}

.herobutton:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Begin more info */

.infoheight {
    height: 200px;
    position: relative;
    z-index: 1;
}

.moreinfo {
    text-align: center;
    font-size: 80px;
    color: rgb(138, 185, 255);
}